<div id="analysis-dashboard-toolbox" class="toolbox">
	<div class="toolbox-group">
		<button id="create-step-button">Create step</button>
		<button id="edit-step-button">Edit step</button>
		<button id="delete-step-button">Delete step</button>
	</div>
	<div class="toolbox-group">
		<button id="create-note-button">Create note</button>
		<!-- Not sure yet if we need this -->
		<!-- button id="delete-note-button">Delete note</button -->
	</div>
</div>

<div id="analysis-dashboard-steps">&nbsp;</div>